@model TrabalhoPO.Models.LoginModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Auth", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group text-center">
        <h2>Login</h2>
        @Html.ValidationSummary(true)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email, String.Empty, new { @class = "control-label" })
        <div class="col-sm-12 input-group">
            <div class="input-group-addon">
                <span class="fa fa-at" aria-hidden="true"></span>
            </div>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Senha, String.Empty, new { @class = "control-label" })
        <div class="col-sm-12 input-group">
            <div class="input-group-addon">
                <span class="fa fa-asterisk" aria-hidden="true"></span>
            </div>
            @Html.PasswordFor(x => x.Senha, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <a href="@Url.Action("Register", "Auth")" class="btn btn-primary btn-block btn-custom">
                <span class="fa fa-user-plus" aria-hidden="true"></span>
                Registrar
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block btn-custom">
                <span class="fa fa-sign-in" aria-hidden="true"></span>
                Entrar
            </button>
        </div>
    </div>
}