@model TrabalhoPO.Models.Categoria

@{
    ViewBag.Titulo = "Nova Categoria";
    ViewBag.Modelo = "Categoria";
    ViewBag.Acao = "Criar";
}

<h2>@ViewBag.Titulo</h2>
<hr />

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-crud" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("IdAux", new { @class = "col-sm-2 control-label hidden" })
        @Html.LabelFor(x => x.Id, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9">
            @Html.TextBox("IdAux", (string)ViewBag.NextId.ToString(), new { @class = "form-control", disabled = "disabled" })
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @type = "hidden" })
        </div>
        <div class="col-sm-9 col-sm-offset-2 text-danger">
            @Html.ValidationMessageFor(x => x.Id)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descricao, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Descricao, new { @class = "form-control" })
        </div>
        <div class="col-sm-9 col-sm-offset-2 text-danger">
            @Html.ValidationMessageFor(x => x.Descricao)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-2">
            @Html.Partial("_Botoes", Model)
        </div>
    </div>
}