@model IList<TrabalhoPO.Models.Categoria>

@{
    ViewBag.Titulo = "Lista de Categorias";
    ViewBag.Modelo = "Categoria";
    ViewBag.Acao = "Lista";
}

<h2>
    <span>@ViewBag.Titulo</span>
    <a href="@Url.Action("Criar", ViewBag.Modelo)" class="btn btn-success btn-custom pull-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Nova
    </a>
</h2>
<hr />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Qtd. Produtos</th>
            <th>Data Alteração</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr id="Categoria@(categoria.Id)">
                <td>
                    @categoria.Id.ToString("N0")
                </td>
                <td>
                    @categoria.Descricao
                </td>
                <td class="text-right">
                    @((ViewBag.Produtos as IList<TrabalhoPO.Models.Produto>).Count(x => x.Categoria == categoria.Id).ToString("N0"))
                </td>
                <td id="DataAlteracao@(categoria.Id)">
                    @categoria.DataAlteracao.Value.ToString("dd/MM/yyyy @ HH:mm:ss")
                </td>
                <td class="text-center">
                    @Html.Partial("_BotoesIndex", categoria)
                </td>
            </tr>
        }
    </tbody>
</table>