@model IList<TrabalhoPO.Models.Categoria>

@{
    ViewBag.Titulo = "Lista de Categorias";
    ViewBag.Modelo = "Categoria";
    ViewBag.Acao = "Lista";
}

<h2>
    <span>@ViewBag.Titulo</span>
    <a href="@Url.Action("Criar", ViewBag.Modelo)" class="btn btn-success btn-success-alpha btn-custom pull-right">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Nova
    </a>
</h2>
<hr />

@Html.AntiForgeryToken()

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Qtd. de Produtos</th>
            <th>Data Alteração</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td class="col-sm-1">@Html.TextBox("FiltroId", null, new { @class = "form-control filtro" })</td>
            <td class="col-sm-3">@Html.TextBox("FiltroDescricao", null, new { @class = "form-control filtro" })</td>
            <td class="col-sm-2">@Html.TextBox("FiltroProdutos", null, new { @class = "form-control filtro filtro-slider", @readonly = "true" })</td>
            <td class="col-sm-4">@Html.TextBox("FiltroAlteracao", null, new { @class = "form-control filtro" })</td>
            <td class="col-sm-3"><btn class="btn btn-default btn-block" id="LimparFiltros"><strong>Limpar Filtros</strong></btn></td>
        </tr>
        <tr class="sliderRow" id="ProdutosSliderRow" style="display:none">
            <td colspan="9">
                <div class="slider" id="ProdutosSlider"></div>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr id="Categoria@(categoria.Id)" class="categoria">
                <td class="id">
                    @categoria.Id.ToString("N0")
                </td>
                <td class="descricao">
                    @categoria.Descricao
                </td>
                <td class="produtos text-right">
                    @((ViewBag.Produtos as IList<TrabalhoPO.Models.Produto>).Count(x => x.Categoria == categoria.Id).ToString("N0"))
                </td>
                <td class="alteracao " id="DataAlteracao@(categoria.Id)">
                    @categoria.DataAlteracao.Value.ToString("dd/MM/yyyy @ HH:mm:ss")
                </td>
                <td class="text-center">
                    @Html.Partial("_BotoesLista", categoria)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/filtro")
    @Scripts.Render("~/Scripts/categoria")
}