<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Titulo - Trabalho PO</title>
    <meta name="description" content="Trabalho PO">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/App/main")
</head>
<body>
    @if (!Request.IsAuthenticated || ViewBag.Modelo == "Auth")
    {
        <main>
            <div class="container-auth">
                <div class="row-auth">
                    @RenderBody()
                </div>
            </div>
        </main>
    }
    else
    {
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    @*<div class="navbar-header"></div>*@
                    @Html.ActionLink("Trabalho PO", "Lista", "Produto", null, new { @class = "navbar-brand" })
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="@Url.Action("Lista", "Produto")">
                                    <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                                    Produtos
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Lista", "Categoria")">
                                    <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                                    Categorias
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="@Url.Action("Logout", "Auth")">
                                    <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <article>
                <div class="container">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </article>
        </main>
    }
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/main")
    @RenderSection("Scripts", required: false)
</body>
</html>