<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Trabalho PO</title>
    <meta name="description" content="Trabalho PO">
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/main.min.css")
    <style>
        main, .container, .row {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .form-horizontal {
            flex: 1;
            max-width: 30%;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="row text-center">
                @RenderBody()
            </div>
        </div>
    </main>
    @Scripts.Render("~/Scripts/jquery-2.2.3.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/main.min.js")
</body>
</html>