@model TrabalhoPO.Models.IIdentificavel

@{
    ViewBag.Modelo = Model is TrabalhoPO.Models.Produto ? "Produto" : "Categoria";
}

<div id='Excluir' class='modal-dialog'>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                &times;
            </button>
            <h4 class="modal-title">
                <span class="fa fa-times-circle" aria-hidden="true"></span>
                &nbsp;
                <strong>
                    Excluir @ViewBag.Modelo
                </strong>
            </h4>
        </div>
        <div class="modal-body">
            <h4>
                Tem certeza que deseja excluir
                @(Model is TrabalhoPO.Models.Produto ? "o produto" : "a categoria")
                <strong>
                    @Model.Id - @Model.Descricao
                </strong> ?
            </h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-custom" data-dismiss="modal" onclick="exclui('@ViewBag.Modelo', @Model.Id);">
                Confirmar
            </button>
            <button type="button" class="btn btn-default btn-custom" data-dismiss="modal">
                Fechar
            </button>
        </div>
    </div>
</div>