@model TrabalhoPO.Models.Produto

@{ ViewBag.View = "Editar"; }

<h2>Editar Produto</h2>
<hr />

@using (Html.BeginForm("Salvar", "Produtos", null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.Label("IdAux", null, new { @class = "hidden" })
        @Html.LabelFor(x => x.Id, "Id:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9">
            @Html.TextBox("IdAux", Model.Id.ToString("N0"), new { @class = "form-control", disabled = "disabled" })
            @Html.TextBoxFor(x => x.Id, Model.Id.ToString(), new { @class = "form-control", @type = "hidden" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descricao, "Descrição:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.Descricao, Model.Descricao, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Preco, "Preço:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9 input-group">
            <span class="input-group-addon cinza"><strong>R$</strong></span>
            @Html.TextBoxFor(x => x.Preco, Model.Preco.ToString(), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EstoqueAtual, "Estoque Atual:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9 input-group">
            @Html.TextBoxFor(x => x.EstoqueAtual, Model.EstoqueAtual.ToString("N0"), new { @class = "form-control" })
            <a href="#" onclick="retira(null);" class="input-group-addon">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            <a href="#" onclick="insere(null);" class="input-group-addon">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EstoqueMinimo, "Estoque Mínimo:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9 input-group">
            @Html.TextBoxFor(x => x.EstoqueMinimo, Model.EstoqueMinimo.ToString("N0"), new { @class = "form-control" })
            <a href="#" onclick="diminuiMinimo(null);" class="input-group-addon">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            <a href="#" onclick="aumentaMinimo(null);" class="input-group-addon">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Categoria, "Categoria:", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-9">
            <select class="form-control" id="Categoria" name="Categoria">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Descricao</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-2">
            @Html.Partial("_botoes", Model)
        </div>
    </div>
}

@Html.Partial("_divExcluirModal")