@model TrabalhoPO.Models.Produto

@{
    ViewBag.Titulo = "Detalhes do Produto";
    ViewBag.Modelo = "Produto";
    ViewBag.Acao = "Detalhes";
}

<h2>@ViewBag.Titulo</h2>
<hr />

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="hidden">
                    <th class="col-sm-4">Campo</th>
                    <th class="col-sm-8">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Id</strong>
                    </td>
                    <td>
                        @Model.Id
                </td>
                </tr>
                <tr>
                    <td>
                        <strong>Descrição</strong>
                    </td>
                    <td>
                        @Model.Descricao
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Preço</strong>
                    </td>
                    <td>
                        R$ @Model.Preco
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estoque Atual</strong>
                    </td>
                    <td>
                        @Model.EstoqueAtual
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estoque Mínimo</strong>
                    </td>
                    <td>
                        @Model.EstoqueMinimo
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Precisa Reposição</strong>
                    </td>
                    <td>
                        @Html.Raw(Model.PrecisaReposicao == true ? "Sim" : "Não")
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Categoria</strong>
                    </td>
                    <td>
                        <a href="@Url.Action("Detalhes", "Categoria", new { id = Model.Categoria })">
                            @((ViewBag.Categorias as IList<TrabalhoPO.Models.Categoria>).Where(x => x.Id == Model.Categoria).First().Descricao)
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Data Alteração</strong>
                    </td>
                    <td>
                        @Model.DataAlteracao.Value.ToString("dd/MM/yyyy")
                        @@
                        @Model.DataAlteracao.Value.ToString("HH:mm:ss")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            @Html.Partial("_Botoes", Model)
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/produto.min.js")
}