@model IList<TrabalhoPO.Models.Produto>

@{
    ViewBag.Titulo = "Lista de Produtos";
    ViewBag.Modelo = "Produto";
    ViewBag.Acao = "Lista";
}

<h2>
    <span>@ViewBag.Titulo</span>
    <a href="@Url.Action("Criar", ViewBag.Modelo)" class="btn btn-success btn-custom pull-right">
        <span class="fa fa-plus" aria-hidden="true"></span>
        Novo
    </a>
</h2>
<hr />

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque Atual</th>
            <th>Estoque Mínimo</th>
            <th>Reposição</th>
            <th>Categoria</th>
            <th>Data Alteração</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr id="Produto@(produto.Id)">
                <td>
                    @produto.Id
                </td>
                <td>
                    @produto.Descricao
                </td>
                <td>
                    <span class="pull-left">
                        R$
                    </span>
                    <span class="pull-right">
                        @produto.Preco
                    </span>
                </td>
                <td class="text-right no-text-decoration">
                    <span class="pull-left">
                        <a href="#" onclick="retira(@produto.Id);">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </a>
                        <a href="#" onclick="insere(@produto.Id);">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                    </span>
                    <span class="pull-right" id="EstoqueAtual@(produto.Id)">
                        @produto.EstoqueAtual.ToString("N0")
                    </span>
                </td>
                <td class="text-right no-text-decoration">
                    <span class="pull-left">
                        <a href="#" onclick="diminuiMinimo(@produto.Id);">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                        </a>
                        <a href="#" onclick="aumentaMinimo(@produto.Id);">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        </a>
                    </span>
                    <span class="pull-right" id="EstoqueMinimo@(produto.Id)">
                        @produto.EstoqueMinimo.ToString("N0")
                    </span>
                </td>
                <td class="text-center" id="PrecisaReposicao@(produto.Id)">
                    @Html.Raw(produto.PrecisaReposicao == true ? "Sim" : "Não")
                </td>
                <td>
                    <a href="@Url.Action("Detalhes", "Categoria", new { id = produto.Categoria })">
                        @((ViewBag.Categorias as IList<TrabalhoPO.Models.Categoria>).Where(x => x.Id == produto.Categoria).First().Descricao)
                    </a>
                </td>
                <td id="DataAlteracao@(produto.Id)">
                    @produto.DataAlteracao.Value.ToString("dd/MM/yyyy")
                    @@
                    @produto.DataAlteracao.Value.ToString("HH:mm:ss")
                </td>
                <td class="text-center">
                    @Html.Partial("_BotoesIndex", produto)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/produto.min.js")
}