@model IList<TrabalhoPO.Models.Produto>

@{
    ViewBag.Titulo = "Lista de Produtos";
    ViewBag.Modelo = "Produto";
    ViewBag.Acao = "Lista";
}

<h2>
    <span>@ViewBag.Titulo</span>
    <a href="@Url.Action("Criar", ViewBag.Modelo)" class="btn btn-success btn-success-alpha btn-custom pull-right">
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Novo
    </a>
</h2>
<hr />

@Html.AntiForgeryToken()

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque Atual</th>
            <th>Estoque Mínimo</th>
            <th>Reposição</th>
            <th>Categoria</th>
            <th>Data Alteração</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr id="Produto@(produto.Id)" class="@(produto.PrecisaReposicao == true ? "text-danger" : String.Empty)">
                <td>
                    @produto.Id.ToString("N0")
                </td>
                <td>
                    @produto.Descricao
                </td>
                <td>
                    <span class="pull-left">
                        R$
                    </span>
                    <span class="pull-right">
                        @produto.Preco.ToString("N2")
                    </span>
                </td>
                <td class="text-right no-text-decoration">
                    <span class="pull-left">
                        <a href="javascript:;" class="holdable va-middle cinza" onmousedown="diminuiAtual(@produto.Id);">
                            <i class="glyphicon glyphicon-minus-sign" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:;" class="holdable va-middle cinza" onmousedown="aumentaAtual(@produto.Id);">
                            <i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="pull-right" id="EstoqueAtual@(produto.Id)">
                        @produto.EstoqueAtual.ToString("N0")
                    </span>
                </td>
                <td class="text-right no-text-decoration">
                    <span class="pull-left">
                        <a href="javascript:;" class="holdable va-middle cinza" onmousedown="diminuiMinimo(@produto.Id);">
                            <i class="glyphicon glyphicon-minus-sign" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:;" class="holdable va-middle cinza" onmousedown="aumentaMinimo(@produto.Id);">
                            <i class="glyphicon glyphicon-plus-sign" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span class="pull-right" id="EstoqueMinimo@(produto.Id)">
                        @produto.EstoqueMinimo.ToString("N0")
                    </span>
                </td>
                <td class="text-center" id="PrecisaReposicao@(produto.Id)">
                    @(produto.PrecisaReposicao == true ? "Sim" : "Não")
                </td>
                <td>
                    <a href="@Url.Action("Detalhes", "Categoria", new { id = produto.Categoria })">
                        @((ViewBag.Categorias as IList<TrabalhoPO.Models.Categoria>).Where(x => x.Id == produto.Categoria).First().Descricao)
                    </a>
                </td>
                <td id="DataAlteracao@(produto.Id)">
                    @produto.DataAlteracao.Value.ToString("dd/MM/yyyy @ HH:mm:ss")
                </td>
                <td class="text-center">
                    @Html.Partial("_BotoesLista", produto)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/produto")
}